.flight-detail-card__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem;
  place-content: center;
  gap: 0.2rem;
}

.flight-detail-card__journey {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
@media screen and (min-width: 768px) {
  .flight-detail-card__journey {
    flex-direction: row;
    gap: 1rem;
    align-items: center;
  }
}
@media (min-width: 768px) {
  .flight-detail-card__journey {
    position: relative;
    
  }
}

.flight-detail-card__ticket {
  width: 10.5rem;
  background: var(--flight-ticket-bg-color);
  color: var(--text1-color);
  padding: 0.2rem;
}
@media screen and (min-width: 768px) {
  .flight-detail-card__ticket {
    order: 2;
  }
}
@media (min-width: 768px) {
  .flight-detail-card__ticket {
    position: absolute;
    top: 0;
    right: 2rem;
  }
}
@media (min-width: 1024px) {
  .flight-detail-card__ticket {
    position: absolute;
    top: 0;
    right: 4rem;
  }
}
@media (min-width: 1280px) {
  .flight-detail-card__ticket {
    position: absolute;
    top: 0;
    left: 17rem;
  }
}

@media (min-width: 768px) {
  .flight-info {
    width: 80%;
    font-size: 1rem;
  }
}

.flight-info__title {
  width: 50%;
  margin-bottom: 1rem;
}
@media (min-width:768px) {
  .flight-info__title {
    width: 35%;
    font-size: 1rem;
    line-height: 1.2;
  }
}
@media (min-width:1024px) {
  .flight-info__title {
    font-size: 1rem;
    line-height: 1.2;
    width: 50%;
  }
}
@media (min-width:1280px) {
  .flight-info__title {
    font-size: 1.2rem;
  }
}

@media (min-width: 768px) {
  .flight-info__content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    line-height: 1.5;
    margin: 3rem 0 1rem 0;
  }
}

@media (min-width: 1024px) {
  .flight-info__content {
    width: 92%;
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    line-height: 1.5;
    margin: 3rem 0 1rem 0;
  }
}