.flightCard__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background: var(--flight-ticket-bg-color);
  color: var(--text1-color);
  border-radius: 8px 8px 0px 0px;
}

.flipImage {
  transform: scaleX(-1);
}

.flightCard__bottom {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 32.7%;
  background: var(--main-bg-color);
  color: var(--text1-color);
  border-radius: 0px 0px 8px 8px;
  padding: 6px 8px;
}

.flightOriginDestination {
  width: 68%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.flightPrice {
  font-size: 0.6rem;
  font-weight: 600;
}
