.accommodation-detail-card__content {
  padding: 1rem;
}

.accommodation-detail-card__subcontent {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.accommodation-detail-card__image {
  width: 171px;
  height: auto;
}

.accommodation-detail-card__price {
  margin-top: 0.5rem;
}

@media (min-width: 768px) {
  .accommodation-detail-card__amenities {
    margin-left: 1rem;
  }
  .accommodation-detail-card__amenities > div {
    font-size: 1rem;
    line-height: 1.2;
    padding: 2px 10px;
    margin-right: 0.5rem
  }
}
@media (min-width: 1028px) {
  .accommodation-detail-card__amenities > div {
    font-size: 1.2rem;
    line-height: 1.5;
    padding: 2px 12px;
    margin-right: 1rem;
  }
}