.accommodation-info {
  color: var(--text1-color);
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1rem;
}

.accommodation-info__title {
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.accommodation-info__content > * {
  margin-bottom: 0.5rem;
}

@media (min-width: 768px) {
  .accommodation-info {
    font-size: 1rem;
    line-height: 1.2;
  }

  .accommodation-info__title {
    font-size: 1.2rem;
    line-height: 1.2;
  }
}