.homepage {
  position: relative;
  height: 100vh; /*if svh is not compatible*/
  height: 100svh;
  width: 100%;
  background: url('/bg.png') center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}

@media (min-width: 1024px) {
  .homepage {
    background: url('/desktopBg.png') center/cover;
  }
}

.homepage::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 6rem;
  width: 100vw;
  z-index: 0;
  background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0) 13.94%, #fff 54.73%);
}

.homepage .container {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: calc(100% - 12rem);
}

.homepage .main {
  position: relative;
  flex: 1; /* consume remaining space */
  display: flex;
  flex-direction: column;
  max-width: 37rem;
  width: 100%;
  height: 100%;
  overflow: auto;
}
