.homepage {
  height: 100vh;
  background: url("/desktop-bg.png") center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}

.homepage .container {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  height: 100%; /* give full height */
}

.homepage .main {
  position: relative;
  flex: 1; /* consume remaining space */
  display: flex;
  flex-direction: column;
  width: 100%; /* adjust width */
}
