.profile-page__container {
  margin-bottom: 3rem;
}

.profile-page__header {
  margin: 1rem;
}
@media (min-width: 1024px) {
  .profile-page__header {
    margin: 2rem;
  }
}

.profile-page__content {
  margin: 1rem;
  display: grid;
  place-content: center;
  text-align: center;
}
@media (min-width: 1024px) {
  .profile-page__content {
    margin: 2rem;
  }
}

.avatarProfile > img {
  width: 5rem;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 100px;
}

.profileInfo {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  gap: 2rem;
}
@media (min-width: 768px) {
  .profileInfo {
    font-size: 1.2rem;
  }
}
@media (min-width: 1028px) {
  .profileInfo {
    font-size: 1.5rem;
  }
}

.editProfileLink {
  margin-bottom: 2rem;
}

.profileEditForm {
  width: 100%;
}
