.signupLoginDisplay {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url('/bg.png') center/cover;
}

@media (min-width: 1024px) {
  .homepage {
    background: url('/desktopBg.png') center/cover;
  }
}

.heading--SignupLogin {
  width: 92vw;
  max-width: 406px;
  position: absolute;
  top: 6.5vh;
  color: white;
  font-weight: 300;
}

.heading--SignupLogin > h2 {
  font-weight: 300;
  margin-bottom: 0.5rem;
}

.container--SignupLogin {
  max-width: 406px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
  margin: auto 16px;
  border-radius: 12px;
  background: rgba(249, 255, 254, 0.5);
  box-shadow: 0px 2px 4px 0px rgba(31, 57, 55, 0.26);
  backdrop-filter: blur(2px);
}

.text--SignupLogin {
  margin-top: 2rem;
  line-height: 1.5;
}
