.signupLoginDisplay {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url("/desktop-bg.png") center/cover;
}

.heading--SignupLogin {
  width: 92vw;
  max-width: 406px;
  position: absolute;
  top: 6.5vh;
  color: white;
  font-weight: 300;
}

.heading--SignupLogin > h2 {
  font-weight: 300;
  margin-bottom: 0.5rem;
}

.container--SignupLogin {
  max-width: 406px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
  margin: auto 16px;
  border-radius: 12px;
  background: rgba(249, 255, 254, 0.5);
  box-shadow: 0px 2px 4px 0px rgba(31, 57, 55, 0.26);
  backdrop-filter: blur(2px);
}

.label--editForm {
  color: #16242b;
  font-family: Lato;
  font-size: 1.1rem;
  line-height: 1.3;
  min-width: 60vw;
  margin-bottom: 24px;
}

@media (min-width: 768px) {
  .label--editForm {
    min-width: 40vw;
  }
}

@media (min-width: 1280px) {
  .label--editForm {
    min-width: 25vw;
  }
}

.input--editForm {
  width: 100%;
  padding: 1rem;
  margin-bottom: 2rem;
  border-radius: 6px;
  border: 1px solid #6faac1;
  background: var(--white, #fff);
}

.text--SignupLogin {
  margin-top: 2rem;
  line-height: 1.5;
}
