.trip-list {
  background: var(--main-bg-color);
  margin-top: 1rem;
}

@media (min-width: 1280px) {
  .trip-list  {
    box-sizing: border-box;
    margin: 0 80px;
  }
}

.trip-list-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem;
}
@media (min-width:1028px) {
  .trip-list-heading {
    margin: 2rem 6rem;
  }
}
@media (min-width:1280px) {
  .trip-list-heading {
    margin: 2rem 8rem;
  }
}

select {
  margin-left: 0.5rem;
  font-size: 1rem;
}

option {
  font-size: 1.2rem;
}

.sort-bar {
  display: flex;
  flex-direction: row;
  font-size: 1.2rem;
}
@media (max-width: 438px) {
  .sort-bar {
    height: 3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }

  select {
    margin-left: 0;
  }
}

.search-bar {
  position: relative;
  display: flex;
  justify-content: flex-end;
}


.search-bar input {
  height: 3rem;
  border-radius: 6px;
  background: #EDF2F7;
  font-size: 1rem;
  border: none;
  padding: 0.5rem;
}
@media (min-width: 768px) {
  .search-bar input {
    width: 16rem;
  }
}

.trip-list ul {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0;
  margin: auto;
}

@media (min-width: 480px) and (max-width: 769px) {
  .trip-list ul {
    grid-template-columns: 1fr;
  }
}

.trip-list li {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 1rem 0;
}

.addTrip {
  position: fixed;
  bottom: 0;
  left: 50%;
  height: 5rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
  transform: translateX(-50%);
  background: transparent;
  color: #00a3c4;
  font-size: 1rem;
  margin: 16px 0;
}

.addTripBtn {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  color: #00a3c4;
  font-size: 3.5rem;
  margin-bottom: 24px;
  border-radius: 100px;
  box-shadow: var(--shadow);
}

@media (min-width: 768px) {
  .addTripBtn {
    font-size: 4rem;
  }
}

@media (min-width: 1024px) {
  .addTripBtn {
    font-size: 5rem;
  }
}