.trip-detail__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
}

.trip-detail__header {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.trip-detail__headerImg {
  width: 100%;
  height: 20vh;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 1rem;
}

.trip-detail__baseInfo {
  margin: 1rem;
}
@media (min-width: 1024px) {
  .trip-detail__baseInfo {
    margin: 2rem;
  }
}

.trip-detail__cities {
  display: flex;
  align-items: flex-end;
  font-weight: 500;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.trip-detail__cities h2 {
  font-size: 2.5rem;
  margin: 0 0.5rem;
  background: linear-gradient(171deg, #81fee9 0%, #4cd8da 19.87%, #0dacc8 52.28%, #0dacc8 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.trip-detail__cities h3 {
  font-size: 1.8rem;
  margin: 0 0.5rem;
}

.trip-detail__icon {
  font-size: 3rem;
  margin-right: 0.5rem;
}

.trip-detail__destination h2 {
  margin: 0 0.5rem;
}

.trip-detail__dates {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.trip-detail__traveler {
  font-weight: 500;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .trip-detail__cities {
    font-size: 1.2rem;
  }
  .trip-detail__cities h2 {
    font-size: 2rem;
    margin: 0 0.5rem;
  }

  .trip-detail__cities h3 {
    font-size: 1.5rem;
    margin: 0 0.5rem;
  }

  .trip-detail__icon {
    font-size: 2rem;
    margin-right: 0.2rem;
  }

  .trip-detail__dates {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }

  .trip-detail__traveler {
    font-size: 1.5rem;
  }
}

.backlink {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 1rem;
}

@media (min-width: 1024px) {
  .backlink {
    margin: 2rem;
    font-size: 1.2rem;
  }

  .backlink__img {
    width: 2rem;
  }
}

@media (min-width: 768px) {
  .tripDetail__section {
    width: 92%;
    padding: 0;
    margin: 2rem auto;
  }
}

.sectionTitle {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}
