:root {
  --swiper-theme-color: var(--primary-color);
}
.card-group {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  margin-block: 0.5rem;
}
.CardGroupSwiper {
  --swiper-theme-color: var(--primary-color);
  --swiper-pagination-bottom: 0;
  --add-bottom: 1.5rem;
  --swiper-navigation-top-offset: calc(50% - var(--add-bottom) / 2);
}
.CardGroupSwiper > swiper-slide {
  display: flex;
  justify-content: center;
  padding-bottom: var(--add-bottom);
}
