.chat {
  flex: 1;
  overflow: hidden;
}

.chat__container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chat__container :first-child {
  /* hide scrollbar keep functionnality */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.chat__container :first-child::-webkit-scrollbar {
  display: none; /*Safari and Chrome*/
}

@media (max-width: 624px) {
  .chat__container {
    width: 100vw;
  }
}

.chat__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  z-index: 1;
  margin-bottom: 2rem;
}

.chat__input-zone {
  width: 90%;
}

.chat__message-zone {
  position: relative;
  display: flex;
  align-items: center;
  padding: 1rem 0 1rem 1rem;
  background-color: white;
  border-radius: 6px;
  border: 1px solid #e2e8f0;
  box-shadow: var(--shadow);
}
@media (max-width: 624px) {
  .chat__message-zone {
    margin: 0 16px;
  }
}

.chat__message {
  resize: none;
  border: 0;
  background: transparent;
  width: 100%;
  font-family: 'Lato', sans-serif;
  outline: none;
  overflow-y: hidden;
  padding-right: 3rem;
  line-height: 1.5rem;
  font-size: 1rem;
  max-height: 10rem;
}

.chat__submit-btn {
  position: absolute;
  right: 0.75rem;
  bottom: 0.75rem;
  padding: 0.5rem;
  transition-duration: 0.25s;
  transition-property: color, background-color;
}

.chat__submit-icon {
  width: 1rem;
}

.btn--disabled .chat__submit-icon {
  color: var(--text2-color);
}

.btn-scroll-to-bottom {
  background: url('/arrow-down.svg') center / contain no-repeat;
  z-index: 150;
}
.btn-scroll-to-bottom:hover {
  background-color: var(--primary-color-hover) !important;
}
