.chat {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* add space between container and message zone */
  height: 100%; 
}

.chat__container {
  flex: 1; /* consume remaining space */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow-y: auto; /* make scrollable */
  max-width: 37rem;
  margin-inline: auto;
}
@media (max-width: 624px) {
  .chat__container {
    width: 100vw;
  }
}

.chat > form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chat__message-zone {
  position: fixed;
  bottom: 4rem;
  max-width: 37rem;
  width: 92%;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  background-color: white;
  border-radius: 6px;
  border: 1px solid #e2e8f0;
  box-shadow: var(--shadow);
}
@media (max-width: 624px) {
  .chat__message-zone {
    margin: 0 16px;
  }
}

.chat__message {
  resize: none;
  border: 0;
  height: 1.25rem;
  background: transparent;
  width: 100%;
  font-family: "Lato", sans-serif;
  outline: none;
}

.chat__submit-btn {
  padding: 0.75rem;
  transition-duration: 0.25s;
  transition-property: color, background-color;
}

.chat__submit-icon {
  width: 1.5rem;
  height: 1.5em;
}

.btn--disabled .chat__submit-icon {
  color: var(--text2-color);
}
