.chat__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end; 
  max-width: 37rem;
  height: 73vh;
  margin-inline: auto;
}
.chat__messageZone {
  display: flex;
  align-items: center;
  border: 1px solid grey;
  padding: 0.5rem;
  background-color: white;
  border-radius: 6px;
  border: 1px solid #e2e8f0;
  box-shadow: var(--shadow)
}
.chat__message {
  resize: none;
  border: 0;
  height: 1.25rem;
  background: transparent;
  width: 100%;
  font-family: "Lato", sans-serif;
  outline: none;
}
.chat__container svg {
  width: 2rem;
  height: 2em;
}
