.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 3rem;
  margin: 0 auto;
  z-index: 100;
}

.header .btn-group {
  position: absolute;
  right: 0;
  margin: 16px;
}

@media (max-width: 819px) {
  .header {
    flex-direction: column-reverse;
    padding-block: 1rem;
    margin-left: auto;
  }

  .header .btn-group {
    position: static;
    margin-left: auto;
    margin-bottom: 0.3rem;
  }
}
