.logo {
  color: white;
  font-family: "Pacifico";
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
@media (min-width: 1028px) {
  .logo > h3 {
    font-size: 2rem;
  }
}

.logo__img {
  height: 2.5rem;
  width: auto;
}

.logo--small {
  height: 1rem;
}
