.nav-bar {
  width: 100vw;
  height: 46px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: var(--nav-bar-color);
}

.avatarNav > img {
  width: 2rem;
  margin: 0.5rem;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 100px;
}