.accomodation-detail-card__content {
  padding: 1rem;
}
.accomodation-detail-card__subcontent {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.accomodation-detail-card__image {
  width: 171px;
  height: auto;
}

.accomodation-detail-card__price {
  margin-top: 0.5rem;
}
