.AccomCard--Top {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  border-radius: 8px 8px 0px 0px;
}

.AccomCard--Location {
  display: flex;
  align-items: center;
  width: fit-content;
  color: var(--text1-color);
  font-size: 0.8rem;
  border-radius: 100px;
  background: rgba(228, 240, 246, 0.7);
  backdrop-filter: blur(2px);
  padding: 4px 8px;
  margin: 4px;
}

.AccomCard--Price {
  width: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-radius: 0px 3px 3px 0px;
  background: #8a7e69;
  color: white;
  padding: 2px 8px;
  margin-bottom: 8px;
}

.AccomCard--Name {
  width: 68%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis; 
}

.AccomCard--Bottom {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 32.7%;
  background: var(--main-bg-color);
  color: var(--text1-color);
  border-radius: 0px 0px 8px 8px;
  padding: 8px;
}

.AccomCard--Bottom span {
  font-size: 11px;
}

.AccomCard--HostInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.AccomCard--Star {
  color: #ffbc5c;
  margin-left: auto;
  padding-bottom: 2px;
}

.AccomCard--Rating {
  color: var(--text2-color);
  padding-bottom: 2px;
}

.AccomCard--Amenities {
  display: flex;
}

.AccomCard--Amenity {
  display: inline;
  border-radius: 100px;
  background: #edf2f7;
  color: var(--text1-color);
  padding: 2px 6px;
  margin: 0px 4px 4px 0px;
}
