@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Pacifico&display=swap");

:root {
  --primary-color: #065666;
  --primary-color-hover: #086F83;
  --secondary-color: rgba(196, 241, 249, 0.70);
  --secondary-color-hover: rgba(196, 241, 249, 0.90);
  --text1-color: #0C1518;
  --text2-color: #707070;
  --hyperlink-color: #2081E4;
  --navBar-color: #6FAAC1;
  --mainBg-color: #F8FDFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: 0;
  background: none;
}

body {
  font-family: "Lato", sans-serif;
}

h1 {
  font-size: 3rem;
  font-family: "Pacifico", cursive;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.1rem;
}

.text--sm {
  color: var(--text2-color);
  font-size: 1rem;
}

.hyperlink--sm {
  color: var(--hyperlink-color);
  font-size: 1rem;
}

.btn-group {
  display: flex;
  gap: 0.5rem;
}

.btn {
  display: inline-flex;
  padding: 0.75rem 1.5rem;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}

.btn--primary {
  background: var(--primary-color);
  color: white;
}

.btn--primary:hover {
  background: var(--primary-color-hover);
}

.btn--secondary {
  border: 1px solid var(--primary-color);
  background: var(--secondary-color);
  color: var(--primary-color);
}

.btn--secondary:hover {
  background: var(--secondary-color-hover);
}

.container {
  max-width: 1280px;
  margin-inline: auto;
}

.homepage {
  height: 100vh;
  overflow-y: auto;
  background: url("/desktop-bg.png") center/cover;
}

.homepage .main {
  display: grid;
  place-content: center;
  grid-template-columns: 1fr;
}

.label--editForm {
  color: #16242B;
  font-family: Lato;
  font-size: 1.1rem;
  line-height: 1.3;
  min-width: 60vw;
  margin-bottom: 24px;
}

@media (min-width: 768px) {
  .label--editForm {
      min-width: 40vw;
  }
}

@media (min-width: 1280px) {
  .label--editForm {
      min-width: 25vw;
  }
}


.input--editForm {
  width: 100%;
  padding: 1rem;
  border-radius: 6px;
  border: 1px solid #6FAAC1;
  background: var(--white, #FFF);
}

.container--SignupLogin {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
  border-radius: 12px;
  background: rgba(249, 255, 254, 0.50);
  box-shadow: 0px 2px 4px 0px rgba(31, 57, 55, 0.26);
  backdrop-filter: blur(2px);
}