@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Pacifico&display=swap");

:root {
  --primary-color: #065666;
  --primary-color-hover: #086f83;
  --secondary-color: rgba(196, 241, 249, 0.7);
  --secondary-color-hover: rgba(196, 241, 249, 0.9);
  --error-color: #e57373;
  --text1-color: #0c1518;
  --text2-color: #707070;
  --text3-color: #8d8d8d;
  --hyperlink-color: #2081e4;
  --nav-bar-color: #6faac1;
  --main-bg-color: #f8fdff;
  --tag-cloud-bg-color: #edf2f7;
  --flight-ticket-bg-color: rgba(63, 107, 124, 0.5);
  --shadow: 0px 2px 4px 0px rgba(31, 57, 55, 0.26);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: 0;
  background: none;
  cursor: pointer;
}

body {
  font-family: "Lato", sans-serif;
  background-color: var(--main-bg-color);
}

h1 {
  font-size: 3rem;
  font-family: "Pacifico", cursive;
  font-weight: 300;
}
@media (max-width: 390px) {
  h1 {
    font-size: 2.5rem;
  }
}

h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.3rem;
}
h4 {
  font-size: 1.1rem;
}
h5 {
  font-size: 0.8rem;
}
h6 {
  font-size: 0.5rem;
}

.subtitle {
  color: var(--text2-color);
  font-size: 1rem;
}

.hyperlink--no-decoration:hover {
  text-decoration: none;
}

.hyperlink--sm {
  position: relative;
  color: var(--hyperlink-color);
  font-size: 1rem;
}

.hyperlink--sm > input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.backLink {
  display: flex;
  align-items: center;
  margin: 1rem auto 0 1rem;
}
@media (min-width: 1024px) {
  .backLink {
    font-size: 1.2rem;
  }
}

.backLinkIcon {
  margin-right: 0.5rem;
}
@media (min-width: 1024px) {
  .backLinkIcon {
    font-size: 1.2rem;
  }
}

.backLink:hover {
  color: var(--primary-color-hover);
}

@media (min-width: 768px) {
  .backLink {
    display: flex;
    align-items: center;
    margin: 1rem auto 0 1rem;
  }
}

.btn-group {
  display: flex;
  gap: 1rem;
}

.tag-group {
  display: flex;
  align-items: start;
}

.error-message {
  color: var(--error-color);
  margin-bottom: 1rem;
}

.tag {
  border-radius: 100px;
  background: var(--tag-cloud-bg-color);
  color: var(--text1-color);
  padding: 2px 6px;
  margin: 0px 4px 4px 0px;
  font-size: 11px;
}

.btn {
  display: inline-flex;
  padding: 0.75rem 1.5rem;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}

.btn--primary {
  background: var(--primary-color);
  color: white;
}

.btn--primary:hover {
  background: var(--primary-color-hover);
}

.btn--secondary {
  border: 1px solid var(--primary-color);
  background: var(--secondary-color);
  color: var(--primary-color);
}

.btn--secondary:hover {
  background: var(--secondary-color-hover);
}

.btn--disabled {
  background-color: transparent;
  cursor: not-allowed;
}
.btn--disabled:hover {
  background-color: transparent;
  cursor: not-allowed;
}

.container {
  max-width: 1280px;
  margin-inline: auto;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: underline;
}
