.TripCard {
  background: white;
}

.TripCard:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
}

.TripCard:hover img {
  opacity: 0.8;
}

.TripCard:hover {
  background-color: var(--nav-bar-color);
}

@media (min-width: 480px) {
  .TripCard {
    position: relative;
    width: 448px;
    height: 171px;
    display: flex;
    flex-direction: row;
  }
}

@media (min-width: 768px) {
  .TripCard {
    width: 352px;
  }
}

@media (min-width: 990px) {
  .TripCard {
    width: 464px;
  }
}

@media (min-width: 1280px) {
  .TripCard {
    width: 542px;
  }
}

.TripCard--Top {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  height: 67.3%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  border-radius: 8px 8px 0px 0px;
}

@media (min-width: 480px) {
  .TripCard--Top {
    height: 92%;
    aspect-ratio: 1;
    background-position: center;
    background-repeat: no-repeat;

    border-radius: 0px 0px 0px 0px;
    margin: auto 8px;
  }
}

.cardGradient {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(217, 217, 217, 0.00) 0%, rgba(0, 0, 0, 0.30) 100%);
}
@media (min-width:480px) {
  .cardGradient {
    display: none;
  }
}

.TripCard--Top .cardHeading--lg {
  font-weight:600;
  z-index: 10;
}

@media (min-width: 480px) {
  .TripCard--Top .cardHeading--lg {
    position: absolute;
    width: 275px;
    top: 0;
    left: 165px;
    color: var(--text1-color);
    font-weight: 600;
    font-size: 1.5rem;
    text-wrap: wrap;
    padding: 2px 8px;
    z-index: 100;
  }
}

.TripCard--Bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 32.7%;
  color: var(--text1-color);
  border-radius: 0px 0px 8px 8px;
  padding: 4px 8px;
  margin-top: auto;
}

.TripCard__departureCities {
  display: flex;
  align-items: flex-end;
}
@media (max-width: 480px) {
  .TripCard__departureCities {
    display: none;
  }
}

.TripCard__departureCities > p {
  font-size: 1.2rem;
  font-weight: 500;
  margin-left: 0.5rem;
}

@media (max-width: 480px) {
  .TripCard__traveler {
    display: none;
  }
}

@media (min-width: 480px) {
  .TripCard--Bottom {
    height: 75%;
  }

  .TripCard--Bottom .subtitle {
    font-size: 1.2rem;
  }

  .TripCard__traveler {
    font-size: 1.2rem;
  }
}

.TripCard__icon {
  font-size: 2rem;
}

.TripCard--Date {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  padding-bottom: 2px;
}

@media (min-width: 480px) {
  .TripCard--Date {
    font-size: 1.2rem;
  }
  .TripCard--Date span {
    margin-right: 1rem;
  }
}

.TripCard--Date span {
  width: 2rem;
  text-align: center;
}
